[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
colorama = "==0.4.4"
dnspython = "==2.1.0"
itsdangerous = "==2.0.1"
Flask = "==2.0.2"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"
pymongo = "==4.0.1"
Flask-PyMongo = "==2.3.0"
gunicorn = "==20.1.0"
requests = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "sh -c \"export FLASK_ENV='development' && flask run\""
