/* global styling and resets */

body {
	font-family: "Baskervville", serif;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	min-height: 89vh;
}

.sidenav {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.logo-image {
	height: 100%;
	padding: 5px;
	color: white;
}

.entry-page-container {
	min-height: 89vh;
	display: flex;
	align-items: center;
}

.author {
	padding: 1rem;
}

.flash {
	margin-top: 20px;
}

.card {
	margin-left: auto;
	margin-right: auto;
}

.collapsible-header i {
	margin-right: 0;
}

.review-prompt {
	padding: 0.5rem;
}

/* general styling */

.action-card-container {
	justify-content: center;
	margin-bottom: 0;
}

.capitalize {
	text-transform: capitalize;
}

.collapsible-header i {
	width: fit-content;
}

.btn {
	margin: 0.5rem;
}

/* Book preview cards */
.book-preview {
	height: 200px;
	width: 100%;
}

.book-preview h4 {
	margin: 0.5rem;
}

.book-preview .row,
.book-preview .col {
	padding: 0 !important;
}

.card-image img {
	max-height: 90%;
	max-width: inherit;
	padding-left: 10px;
}

.card-content {
	padding: 15px !important;
}

.admin-controls {
	margin: 0;
}

textarea.materialize-textarea {
	min-height: 10rem !important;
}

/* review */

.review .row {
	margin: auto;
}

.review h5 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.collapsible.popout > li {
	margin: 0;
}

/* star rating: Interactive star rating made by Jordan-Simonds (https://codepen.io/jexordexan/pen/yyYEJa)
	modified to use material icons */

div.stars {
	width: 270px;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all 0.2s;
}

input.star:checked ~ label.star:before {
	content: "\e838";
	color: #fd4;
	transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
	color: #fe7;
	text-shadow: 0 0 8px rgb(112, 63, 25);
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: "\e83a";
	font-family: "Material Icons";
}

.star-container {
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin: auto !important;
}

/* profile */

.review-count {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.profile .row {
	margin: auto;
}

/* error 404 */

.error-container {
	height: 100vh;
	width: 100vw;
}

.error-container .card {
	padding: 1rem;
}

.error-container a {
	margin-top: 1rem;
}

/* footer */

.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.social-icons a {
	font-size: 2rem;
}

/* media queries */

@media only screen and (min-width: 400px) {
	.logo-image {
		margin-left: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	.logo-image {
		margin-right: 1rem;
		float: right;
	}
}
