{% extends 'base.html' %}
{% block content %}

<!-- add a new book - only visable to a user in session-->
{% if is_logged_in %}
<div class="container col s12 m8 l6 offset-l3 offset-m2 center-align card">
    <div class="card-content valign-wrapper row action-card-container">
        <div class="col s9 center-align add-book">
            <span>
                <h5 class="inline white">Add a New Book?</h5>
            </span>
        </div>
        <div>
            <a href="{{url_for("add_book")}}"
                class="btn-floating btn-large waves-effect waves-light red darken-2 hoverable"><i
                    class="material-icons">add</i></a>
        </div>
    </div>
</div>
{% endif %}

<!-- search -->
<form class="col s12 m10 l8 offset-l2 offset-m1" method="POST" action="{{ url_for("search") }}">
    <div class="input-field col s12">
        <i class="material-icons prefix red-text text-darken-2">search</i>
        <input id="query" name="query" type="text" class="validate" required>
        <label for="query">Search</label>
    </div>
</form>

{% if search_query %}

<div class="col s12 center-align">
    <p class="search-query">{{books|length}} result{% if books|length > 1%}s{% endif %} for search:
        {{search_query}}
    </p>
    <hr>
</div>

{% endif %}

<!-- preview card for each book-->
{% if books|length > 0 %}

{% for book in books %}

<a href="{{ url_for("get_book_by_id", book_id=book._id)}}" class="col s12 l6">
    <div class="card book-preview horizontal hoverable">
        <div class="col s3 card-image valign-wrapper">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
        </div>
        <div class="card-stacked col s9">
            <div class="card-content">
                <h4 class="flow-text">{{ book.title }}</h4>
                <div>
                    {% if book.avg_rating %}
                    <!--add a number of filled stars equal to the raded value of the average rating-->
                    {% for i in range(book.avg_rating|round|int) %}
                    <span><i class="material-icons yellow-text">star</i></span>
                    {% endfor %}
                    <!--add a number of empty stars equal to make a total of 5-->
                    {% for i in range(5 - book.avg_rating|round|int) %}
                    <span><i class="material-icons grey-text">star_border</i></span>
                    {% endfor %}
                    <span>{{ book.avg_rating }}/5</span>
                    <!--display if there are currently no ratings for this book-->
                    {% else %}
                    <span><i class="material-icons grey-text">star_border</i></span>
                    <span>No current ratings</span>
                    {% endif %}
                </div>
                <em class="flow-text">{{ book.author }}</em>
                <p class="truncate">{{ book.summary }}</p>
            </div>
        </div>
    </div>
</a>
{% endfor %}

{% endif %}

{% endblock content %}