{% extends 'base.html' %}
{% block content %}

<div class="container col s6 offset-s3 center-align card">
    <div class="card-content valign-wrapper row add-book">
        <div class="col s9">
            <span>
                <h5 class="inline white">Add a New Book?</h5>
            </span>
        </div>
        <div>
            <a href="{{url_for("add_book")}}"
                class="btn-floating btn-large waves-effect waves-light red darken-2 hoverable"><i
                    class="material-icons">add</i></a>
        </div class="col s3">
    </div>
</div>

{% if books|length > 0 %}

{% for book in books %}

<a href="{{ url_for("get_book_by_id", book_id=book._id)}}">
    <div class="col s12 l6">
        <div class="card book-preview horizontal hoverable row">
            <div class=" col s3 card-image valign-wrapper">
                <img src="{{ book.image_url }}" alt="{{ book.title }}">
            </div>
            <div class="card-stacked col s9">
                <div class="card-content">
                    <h4 class="flow-text">{{ book.title }}</h4>
                    <div>
                        {% if book.ratings %}
                        {% for i in range(0, book.ratings) %}
                        <span><i class="material-icons yellow-text">star</i></span>
                        {% endfor %}
                        <span>{{ book.ratings }}</span>
                        {% else %}
                        <span><i class="material-icons yellow-text">star_border</i></span>
                        <span>No current ratings</span>
                        {% endif %}
                    </div>
                    <em class="flow-text">{{ book.author }}</em>
                    <p class="truncate">{{ book.summary }}</p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}

{% endif %}

{% endblock content %}