{% extends 'base.html' %}
{% block content %}

{% if books|length > 0 %}

{% for book in books %}

<div class="col s12 l6">
    <div class="card horizontal hoverable row">
        <div class=" col s3 card-image valign-wrapper">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
        </div>
        <div class="card-stacked col s9">
            <div class="card-content">
                <h4>{{ book.title }}</h4>
                <div>
                    {% for i in range(0, book.ratings) %}
                    <span><i class="material-icons yellow-text">star</i></span>
                    {% endfor %}
                    <span>{{ book.ratings }}</span>
                </div>
                <em class="flow-text">{{ book.author }}</em>
                <p class="truncate">{{ book.summary }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endif %}

{% endblock content %}